$darkDesaturatedBlue: #2c3e50;
$mostlyDesaturatedBlue: #5d6e80;
$darkGrayishBlue: #5e6b78;
$strongCyan: #1dd2af;
$darkStrongCyan: #148f77;
$darkModerateViolet: #8e44ad;
$white: #ffffff;
$whiteGhost: rgba(255, 255, 255, 0.75);
$lightGray: #9fb0c0;
$darkGray: #8a8a8a;
$moderateLightGray: #a4a4a4;
$black: #19242e;
$separatorBlack: #17202a;